body {
    background-color: #CD6155;
    font-family: "Ravi Prakash", cursive;
    font-size:25px;
}
.form{
    position:absolute;
    color: white;
    text-align: center;

}
.content{
    min-height: 170px;
}
.app {
    position:relative;
    margin: auto;
    max-width: 400px;
    height: 400px;
}
.title {
    font-size: 50px;
    text-align:center;
}
img{
    width:100px;
    height:100px;
    cursor: pointer;
}
.forRadar{
    background-color :white;
    margin-bottom:20px;
}

.start {
    padding: 0.2em 0.5em;
    margin: 30px auto;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 50%;
    width:90px;
    height: 90px;
    cursor: pointer;
}
.start p {
    font-size: 30px;
}
.buttons {
    padding: 0.2em 0.5em;
    margin: 10px 30px;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 50%;
    width:90px;
    height: 90px;
    cursor: pointer;
    float:left;
}

.buttons:hover {
  -webkit-animation: spin .3s ease-in-out;
  animation: spin .3s ease-in-out;
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotateY(360deg); }
}
@keyframes spin {
  100% { transform: rotateY(360deg); }
}

.check {
    padding: 0.2em 0.5em;
    margin: 2em auto;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
    cursor: pointer;
    width:100px;
}
.check:hover {
  -webkit-animation: scale .3s ease-in-out;
  animation: scale .3s ease-in-out;
}
@-webkit-keyframes scale {
  50% { -webkit-transform: scale(1.1); }
}
@keyframes scale {
  50% { transform: scale(1.1); }
}
.ranges {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffeaea;
    height: 3px;
    border-radius: 6px;
  }

.result {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 20px;
    background: white;
    border-radius: 10px;
  }
  
  .result:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid white;
  }
  
  .result p {
    margin: 0;
    padding: 0;
  }

.resultNode{
    transform: rotate(-5deg);
    position: relative;
    background: #ffc3c3;
    box-shadow: 0px 0px 0px 5px #ffc3c3;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    width:200px;
    margin: 25px auto ;
}
.resultNode:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #fbb6b6 #fff #fbb6b6;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.teaName {
    margin:25px 0 0 0;
    font-size: 30px;
}

.hearts{
    animation: Flash1 2s infinite;
    width: 30px;
    height:30px;

  }
  @keyframes Flash1{
    50%{
      opacity: 0;
    }
  }
  
.start:hover {
    -webkit-animation: spin .3s ease-in-out;
    animation: spin .3s ease-in-out;
  }
  @-webkit-keyframes spin {
    100% { -webkit-transform: rotateY(360deg); }
  }
  @keyframes spin {
    100% { transform: rotateY(360deg); }
  }
  /*/////////////////////////////////////////////*/
  .loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  